<footer class="site-footer">
    <div class="footer-info flex">
    	<div class="footer-copyright">© 2017 Dress to Thrive</div>
    	<div class="footer-social flex">
    		<a class="footer-social-link flex-one flex" target="_blank" href="https://twitter.com/dresstothrive">
                <img class="footer-icon" src="{{asset "/images/icons/Twitter_White.png"}}">
            </a>
            <a class="footer-social-link flex-one flex" target="_blank" href="https://facebook.com/dresstothrive">
                <img class="footer-icon" src="{{asset "/images/icons/Facebook_White.png"}}">
            </a>
            <a class="footer-social-link flex-one flex" target="_blank" href="https://instagram.com/dresstothrive">
                <img class="footer-icon" src="{{asset "/images/icons/Instagram_White.png"}}">
            </a>
            <a class="footer-social-link flex-one flex" target="_blank" href="https://pinterest.com/madteaparty">
                <img class="footer-icon" src="{{asset "/images/icons/Pinterest_White.png"}}">
            </a>
        </div>
    	<div class="footer-contact">dresstothrive@gmail.com</div>
    </div>
</footer>