<footer class="site-footer">
    <div class="footer-info flex">
    	<div class="footer-copyright">© 2017 Dress to Thrive</div>
    	<div class="footer-social flex">
    		<a class="footer-social-link flex-one" href="https://twitter.com/chelsbalderston">
                <img class="footer-icon" src="{{asset "/images/icons/Twitter.svg"}}">
            </a>
            <a class="footer-social-link flex-one" href="https://facebook.com/elementsofeveryday">
                <img class="footer-icon" src="{{asset "/images/icons/Facebook.svg"}}">
            </a>
            <a class="footer-social-link flex-one" href="https://instagram.com/chelseabalderston">
                <img class="footer-icon" src="{{asset "/images/icons/Instagram.svg"}}">
            </a>
            <a class="footer-social-link flex-one" href="https://pinterest.com/madteaparty">
                <img class="footer-icon" src="{{asset "/images/icons/Pinterest.svg"}}">
            </a>
        </div>
    	<div class="footer-contact">dresstothrive@gmail.com</div>
    </div>
</footer>