<div class="nav flex">
    <div class="flex flex-one">
        <a href="/tag/style" class="flex flex-center top-menu-items">
            <div>Style</div>
        </a>
    </div>
    <div class="flex flex-one">
        <a href="/tag/life" class="flex flex-center top-menu-items">
            <div>Life</div>
        </a>
    </div>
    <div class="flex flex-one">
        <a href={{@blog.url}} class="flex flex-center top-menu-items">
            <img alt="Elements of Everyday Logo" src="{{@blog.logo}}?w=400" \>
        </a>
    </div>
    <div class="flex flex-one">
        <a href="/tag/travel" class="flex flex-center top-menu-items">
            <div>Travel</div>
        </a>
    </div>
    <div class="flex flex-one">
        <a href="/about" class="flex flex-center top-menu-items">
            <div>About Me</div>
        </a>
    </div>
</div>
