<div class="nav flex">
    <div class="flex flex-one nav-item">
        <a href="/tag/style" class="flex flex-center top-menu-items">
            <div>Style</div>
        </a>
    </div>
    <div class="flex flex-one nav-item">
        <a href="/tag/life" class="flex flex-center top-menu-items">
            <div>Life</div>
        </a>
    </div>
    <div class="flex flex-one nav-item">
        <a href={{@blog.url}} class="flex flex-center top-menu-items">
            <img alt="Dress to Thrive Logo" src="{{@blog.logo}}?w=400" \>
        </a>
    </div>
    <div class="flex flex-one nav-item">
        <a href="/tag/travel" class="flex flex-center top-menu-items">
            <div>Travel</div>
        </a>
    </div>
    <div class="flex flex-one nav-item">
        <a href="/shop-my-closet" class="flex flex-center top-menu-items">
            <div>Shop my Closet</div>
        </a>
    </div>
</div>
