/*
 * Footer Styles
 */

.site-footer {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    color: white;
    background-color: black;
    border: 0;
    a {
        color: white;
        &:hover {
            color: #57A3E8;
        }
    }
    p {
        font-size: 16px;
        margin: 5px;
    }
    @media (max-width: 600px) {
        flex-direction: column;
        -webkit-flex-direction: column;
    }
}

.footer-info {
    height: 35px;
    .footer-copyright {
        margin: auto auto auto 20px;
    }
    .footer-social {
        margin: auto;
        a img {
            margin: auto 15px;
            height: 25px;
            width: 25px;
            align-self: center;
            -webkit-align-self: center;
        }
    }
    .footer-contact {
        margin: auto 25px auto auto;
    }
    @media (max-width: 600px) {
        height: auto;
        flex-direction: column;
        -webkit-flex-direction: column;
        .footer-copyright, .footer-contact {
            margin: 15px auto;
            font-size: 1.5rem;
        }
        .footer-social {
            a {
                height: 50px;
                width: 50px;
            }
        }
    }
}
