/*
 * Styles for the Navigation Bar
 */

.nav {
    background: rgba(216, 216, 216, .8);
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    .top-menu-items {
        text-decoration: none;
        margin: 0 auto;
        font-size: 2rem;
        &:hover {
            color: #7f7f7f;
        }
        img {
            max-height: 80px;
        }
    }
    @media (max-width: 600px) {
        position: relative;
        flex-direction: column;
        -webkit-flex-direction: column;
        .top-menu-items {
            margin: 15px auto;
            font-size: 3rem;
        }
    }
}
