/*
 * Styles for the Navigation Bar
 */

.nav {
    background: white;
    width: 100%;
    .top-menu-items {
        text-decoration: none;
        margin: 0 auto;
        font-size: 1.3rem;
        font-family: 'maison', sans-serif;
        font-weight: 100;
        letter-spacing: 2px;
        color: white;
        width: 100%;
        padding: 15px 0;
        &:hover {
            color: #7f7f7f;
        }
        img {
            height: 60px;
            padding: 10px 0;
        }
        @media (max-width: 650px) {
            font-size: 1rem;
        }
        @media (max-width: 550px) {
            font-size: 2rem;
        }
    }
    .nav-item {
        max-width: 20%;
        margin: auto;
        @media (max-width: 550px) {
            max-width: none;
        }
    }
}





/* The container <div> - needed to position the dropdown content */

.nav-dropdown {
    position: relative;
}





/* Dropdown Content (Hidden by Default) */

.nav-dropdown-content {
    display: none;
    background-color: black;
    width: 100%;
    top: 80px;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
}




/* Links inside the dropdown */

.nav-dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}




/* Show the dropdown menu on hover */

.nav-dropdown:hover .nav-dropdown-content {
    display: block;
}




/* Change the background color of the dropdown button when the dropdown content is shown */

.nav-dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.nav-social {
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    @media (max-width: 700px) {
        justify-content: flex-end;
        -webkit-justify-content: flex-end;
    }
    @media (max-width: 600px) {
        justify-content: center;
        -webkit-justify-content: center;
    }
}

.header-social-link {
    max-width: 30px;
    max-height: 30px;
    margin: auto 7.5px;
    img {
        max-width: 100%;
        max-height: 100%;
    }
    @media (max-width: 900px) {
        margin: auto 2px;
    }
    @media (max-width: 700px) {
        max-height: 25px;
        max-width: 25px;
    }
    @media (max-width: 600px) {
        max-height: 35px;
        max-width: 35px;
        margin: auto;
    }
}

.nav-logo {
    @media (max-width: 550px) {
        margin: auto;
    }
}

.nav-level-1 {
    div {
        width: 33.33%;
        @media (max-width: 600px) {
            width: 100%;
        }
    }
    @media (max-width: 700px) {
        margin: 0 15px;
    }
    @media (max-width: 600px) {
        flex-direction: column;
        -webkit-flex-direction: column;
    }
}

.nav-level-2 {
    color: white;
    background-color: black;
    .nav-level-2-container {
        margin: 0 15%;
        @media (max-width: 900px) {
            margin: 0 10%;
        }
        @media (max-width: 750px) {
            margin: 0 5%;
        }
        @media (max-width: 550px) {
            flex-direction: column;
            -webkit-flex-direction: column;
        }
    }
}

.nav-level-2-sub-menu {
    position: relative;
    .nav-dropdown-content {
        position: absolute;
        top: 0;
        width: 100%;
    }
    .nav-sub-cats {
        margin: 0 10%;
    }
    .sub-menu-items {
        color: white;
        padding: 10px 15px;
        font-family: 'maison', sans-serif;
        font-weight: 100;
        font-size: 1.5rem;
        letter-spacing: 1px;
        @media (max-width: 750px) {
            font-size: 1.3rem;
        }
        @media (max-width: 650px) {
            font-size: 1.1rem;
        }
    }
}

.nav-sub-posts {
    padding: 10px 0;
    margin: 0 10%;
    .sub-menu-info {
        max-width: 25%;
        margin: auto;
        color: white;
        &:first-child {
            padding-left: 0px;
        }
        &:last-child {
            padding-right: 0px;
        }
        .sub-menu-post-img {
            position: relative;
            width: 200px;
            height: 200px;
            overflow: hidden;
            margin: auto;
            margin-bottom: 10px;
            img {
                min-width: 100%;
                min-height: 100%;
                object-fit: cover;
                max-width: 125%;
                max-height: 125%;
                position: absolute;
                left: 50%;
                top: 50%;
                height: 100%;
                width: auto;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
            @media (max-width: 750px) {
                width: 125px;
                height: 125px;
                margin-bottom: 5px;
            }
        }
        .sub-menu-post-title {
            text-align: left;
            font-family: 'maison', sans-serif;
            font-weight: 100;
            font-size: 1.4rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 200px;
            @media (max-width: 750px) {
                width: 125px;
                font-size: 1rem;
            }
        }
    }
    a {
        @media (max-width: 650px) {
            &:last-child {
                display: none;
            }
        }
    }
}

.fixed-nav {
    position: fixed;
    top: 0;
    display: none;
    width: 100%;
    background-color: black;
    z-index: 5;
    font-family: 'maison', sans-serif;
    font-weight: 100;
    letter-spacing: .5px;
    .fixed-nav-container {
        .fixed-nav-logo {
            margin: 5px;
            img {
                width: 150px;
            }
        }
        .fixed-nav-links {
            margin: 0 15px 0 auto;
        }
    }
}

.fixed-nav-item {
    font-size: 1.3rem;
    margin: 0 10px;
    a {
        color: white;
        text-decoration: none;
    }
}