//Styles for remodal windows
.ck_email_field_group {
    width: 60%;
    margin: 20px auto;
}

.remodal-title {
    margin: 0;
}

#report-buttons-container {
    float: right;
    a {
        padding: 15px;
        border-radius: 10px;
        background-color: #2196f3;
        color: white;
        cursor: pointer;
        text-decoration: none;
    }
    @media (max-width: 500px) {
        float: none;
        margin: 20px 0 10px;
    }
}

.remodal-titles {
    margin: 10px;
}