/*
 * Sidebar Styles
 */

.flex-sidebar {
    min-width: 300px;
    max-width: 300px;
    margin: 40px auto 0 25px;
    @media (max-width: 900px) {
        min-width: 250px;
        max-width: 250px;
    }
    @media (max-width: 700px) {
        max-width: 75%;
        min-width: 75%;
        margin: auto;
    }
}

.sidebar-content {
    padding: 10px;
    margin-top: 10px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    p {
        margin: 10px 2.5px;
        line-height: 16px;
        a {
            text-decoration: none;
            font-size: 16px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

#optin-link {
    text-decoration: none;
    color: white;
}

#optin {
    margin: 25px auto;
    text-align: center;
    background-color: black;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-family: cormorant;
    font-size: 2.25rem; 
}

.modal-header {
    font-family: cormorant;
    color: #50585D;
}

.modal-email,
.modal-name {
    font-family: cormorant;
    font-size: 2rem;
    width: 50%;
    margin: 15px auto;
    input {
        width: 100%;
        border: 1px solid #7b8489;
        &:focus {
            outline: none;
        }
    }
}

.modal-submit {
    padding: 10px;
    width: 40%;
    border-radius: 5px;
    background-color: #50585D;
    color: white;
    border: 0;
    font-size: 2rem;
}

.sidebar-header {
    color: black;
    border-bottom: 1px solid;
    border-top: 1px solid;
    text-align: center;
    padding: 5px;
    font-family: cormorant;
    margin: 15px 0;
    a {
        text-decoration: none;
    }
    @media (max-width: 800px) {
        font-size: 4rem;
    }
    @media (max-width: 500px) {
        font-size: 3rem;
    }
}

.sidebar-social {
    img {
        max-width: 40px;
        max-height: 40px;
    }
    .sidebar-social-link {
        text-align: center;
    }
}

.sidebar-about {
    .about-img {
        margin: auto;
        width: 100%;
        max-width: 100%;
    }
    .about-desc {
        font-size: 1.4rem;
        font-family: cormorant;
        margin: 5px;
        text-align: center;
        color: black;
    }
    @media (max-width: 800px) {
        .about-desc {
            font-size: 2rem;
            white-space: 1px;
        }
    }
}

.sidebar-ad {
    margin-top: 20px;
}

.latest-posts {
    text-decoration: none;
    padding: 15px 0;
    &:first-of-type {
        padding-top: 0;
    }
    .latest-posts-img {
        height: 60px;
        overflow: hidden;
        margin-right: 10px;
        img {
            width: 100px;
            margin-top: -25%;
        }
        img.landscape-sidebar-image {
            margin-top: 0;
        }
    }
    .latest-posts-info {
        // margin: auto 0;
        overflow: hidden;
        white-space: nowrap;
        .latest-posts-title {
            font-size: 1.5rem;
            text-overflow: ellipsis;
            overflow: hidden;
            font-family: cormorant;
            color: black;
        }
        .latest-posts-date {
            font-size: 1.2rem;
            line-height: 1.2rem;
            font-style: italic;
        }
        @media (max-width: 800px) {
            .latest-posts-title {
                font-size: 2rem;
            }
            .latest-posts-date {
                font-size: 1.6rem;
            }
        }
    }
}

.latest-posts-popular {
    &:last-of-type {
        padding-bottom: 0;
        border-bottom: 0;
    }
}

.lightwidget-widget {
    margin: 0;
}
